
<body>
    <form action="/changedPassword" method="POST">
        <div class="login-div">
            <div class="logo"></div>
            <div class="title">BRIGHT MIND</div>
            <div class="sub-title">Enter your new password</div>
            <div class="fields">
                <div class="username"><input type="text" class="user-input" name="password" autocomplete="off" /></div>
            </div>
            <button class="signin-button">submit</button>
            <div class="link">
                <a href="/login">Back</a>or<a>resend</a>
                <p style="color: rgb(65, 68, 68); over-flow:scroll"></p>
            </div>
        </div>
    </form>
</body>
